<div style="height: 150px; width: 100%; background-color: #02b3e4; display: flex; color: white">
  <div style="display: flex; flex-direction: column;justify-content: center; align-items: center; width: 100%">
    <h1>My Store</h1>
    <div style="display: flex">
      <h2 style="padding-right: 10px; border-right: 1px solid #fff">Product List</h2>
      <h2 style="padding-left: 10px; cursor: pointer" routerLink="/cart">Card
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </h2>
    </div>
  </div>
</div>

<div style="margin-top: 40px; display: flex; justify-content: center" >
  <div style="display: block;">
    <div style="display: flex !important; margin-bottom: 10px" *ngFor="let cart of carts">
      <img [src]="cart.url" alt="" style="width: 100px; height: 150px; border-radius: 5px; margin-right: 20px">
      <div style="display: flex !important; flex-direction: column !important;">
        <span>{{cart.name}}</span>
        <span style="padding: 10px 0">{{cart.price}}</span>
        <span style="display: flex; align-items: center; justify-content: center">Amount: <input type="number" value="3" id="typeNumber" class="form-control" style="width: 100px; margin-left: 10px"/></span>
      </div>
    </div>
    <h2>Total: 4000$</h2>
  </div>
  <div style="margin-left: 100px">
    <span style="display: flex; flex-direction: column; margin-bottom: 10px">
      <span style="margin-bottom: 5px">Full Name</span>
      <input type="text" id="form12" class="form-control"/>
    </span>
    <span style="display: flex; flex-direction: column; margin-bottom: 10px">
      <span style="margin-bottom: 5px">Address</span>
      <input type="text" id="form12" class="form-control"/>
    </span>
    <span style="display: flex; flex-direction: column; margin-bottom: 10px">
      <span style="margin-bottom: 5px">Credit Card Number</span>
      <input type="text" id="form12" class="form-control"/>
    </span>
    <div style="margin-bottom: 10px">We'll never share your payment details with anyone else</div>
    <button type="button" class="btn btn-primary">Submit</button>
  </div>
</div>
