<div style="height: 150px; width: 100%; background-color: #02b3e4; display: flex; color: white">
  <div style="display: flex; flex-direction: column;justify-content: center; align-items: center; width: 100%">
    <h1>My Store</h1>
    <div style="display: flex">
      <h2 style="padding-right: 10px; border-right: 1px solid #fff; cursor: pointer" routerLink="/">Product List</h2>
      <h2 style="padding-left: 10px; cursor: pointer" routerLink="/cart">Card
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      </h2>
    </div>
  </div>
</div>

<div style="margin-top: 40px; display: flex; justify-content: center" *ngIf="dataCart.length > 0">
  <div style="display: block;">
    <div style="display: flex !important; margin-bottom: 10px" *ngFor="let cart of dataCart">
      <img [src]="cart.url" alt="" style="width: 100px; height: 150px; border-radius: 5px; margin-right: 20px">
      <div style="display: flex !important; flex-direction: column !important;">
        <span>{{cart.name}}</span>
        <span style="padding: 10px 0">{{cart.price}}</span>
        <span style="display: flex; align-items: center; justify-content: center">Amount: <input type="number" [value]="cart.amount" id="typeNumber" class="form-control" style="width: 100px; margin-left: 10px" (change)="changeAmount($event.target, cart)"/></span>
        <button style="margin-top: 10px; width: 100px" type="button" class="btn btn-danger" (click)="delete(cart.id)">Delete</button>
      </div>
    </div>
    <h2>Total: {{total}}</h2>
  </div>
  <form style="margin-left: 100px" [formGroup]="submitForm">
    <div style="display: flex; flex-direction: column; margin-bottom: 10px">
      <span style="margin-bottom: 5px" >Full Name</span>
      <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name"/>
      <div *ngIf="submitForm.controls['fullName'].invalid && (submitForm.controls['fullName'].dirty || submitForm.controls['fullName'].touched)" class="required text-danger">
        <div *ngIf="submitForm.controls['fullName'].errors?.['required']">
          Full name is required
        </div>
        <div *ngIf="submitForm.controls['fullName'].errors?.['minlength']">
          Full name must be at least 5 characters long
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; margin-bottom: 10px">
      <span style="margin-bottom: 5px">Address</span>
      <input type="text" class="form-control"  formControlName="address" placeholder="Address"/>
      <div *ngIf="submitForm.controls['address'].invalid && (submitForm.controls['address'].dirty || submitForm.controls['address'].touched)" class="required text-danger">
        <div *ngIf="submitForm.controls['address'].errors?.['required']">
          Address is required
        </div>
        <div *ngIf="submitForm.controls['address'].errors?.['minlength']">
          Address must be at least 5 characters long
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; margin-bottom: 10px">
      <span style="margin-bottom: 5px" >Credit Card Number</span>
      <input
        type="number"
        class="form-control"
        formControlName="creditCard"
        [min]="1000000000000000"
        [max]="9999999999999999"
        inputmode="numeric"
        placeholder="XXXX-XXXX-XXXX-XXXX"
        pattern="^\d+$"/>
      <div *ngIf="submitForm.controls['creditCard'].invalid && (submitForm.controls['creditCard'].dirty || submitForm.controls['creditCard'].touched)" class="required text-danger">
        <div *ngIf="submitForm.controls['creditCard'].errors?.['required']">
          Credit card is required
        </div>
        <div *ngIf="submitForm.controls['creditCard'].errors?.['minlength']">
          Credit card must be at least 16 characters long
        </div>
        <div *ngIf="submitForm.controls['creditCard'].errors?.['maxlength']">
          Credit card must be up to 16 characters long
        </div>
      </div>
    </div>
    <div style="margin-bottom: 10px">We'll never share your payment details with anyone else</div>
    <button type="button" class="btn btn-primary" [attr.disabled]="submitForm.invalid ? true : null" (click)="submit()">Submit</button>
  </form>
</div>

<div *ngIf="dataCart.length === 0" style="margin-top: 40px; display: flex; justify-content: center; flex-direction: column; align-items: center">
   <h1 style="color: red">No product in my cart!</h1>
  <button style="width: 200px; margin-top: 20px" type="button" class="btn btn-primary" routerLink="/">Back to product list</button>
</div>
